@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#0f4e75,#BFB68A);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0f4e75;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#75A3BF ;
    text-align: center;
    text-shadow: 1px 1px 2px #132447b0;
}
h2{
    color:#BFB68A ;
}
p {
    text-align: justify;
}